@import "reset";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #4ECDC4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #556270, #4ECDC4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px 0;
}

.wrapper-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorBlock {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wrapper-calculator {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  background-color: whitesmoke;
  overflow: hidden;

  .calculator-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(40, 39, 42, 1) 0%, rgba(69, 59, 89, 1) 100%);
    gap: 10px;

    h1 {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
    }

    .calculator-icon {
      font-size: 25px;
      color: white;
    }
  }

  .calculator-footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px 20px;

    .calculator-text {
      width: 70%;
    }

    .calculator-btn {
      width: 20%;
    }
  }
}
